
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv=”Content-Type” content=”text/html; charset=utf-8″ />
		<title>Welcome to wordbank</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'wordbank/main.css' %}">
	</head>
		<body>
		<div class="header">
			<h1>Add New Word</h1>
		</div>
		<div class="nav">
			<a href="/" class="button"> back</a>	
		</div>
		<div class="section">
				<form action="{% url 'wordbank:saveword' %}" method="POST">
				{% csrf_token %}	
					Word      <span class="tab"><input type="text" name="add_word"><br/></span>
					Type      <span class="tab1"><input type="text" name="add_type" ><br/></span>
					Meannig   <span class="tab2"><input type="text" name="add_mean"  ><br/></span>
					Sentence  <span class="tab3"><input type="text" name="add_sentence"  ><br/></span>
					<span class="tab4"><input type="submit" name= "submit" value="submit" /></span>
					</form>
						
				</div>
		</body>
</html>
