<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv=”Content-Type” content=”text/html; charset=utf-8″ />
		<title>Welcome to wordbank</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'wordbank/main.css' %}">
	</head>
		
			{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
		<body>
			<div class="header">
				<h1>{{ word.word_text }}</h1>
			</div>
			<div class="nav">
				<a href="/ " class="button">Back</a>
			</div>
			
			<div class="section">
			
				{% for detials in word.details_set.all %}
					<table  cellpadding="5" cellspacing="100" width="500" height="20" >
						<tr>
							<td width="30%" bgcolor="#81BEF7" ><b> type :</b></td>
							<td bgcolor="#81BEF7" >  {{ detials.type_text }}</td>
						</tr>
						<tr>
    						<td width="30%" bgcolor="#FFFFFF"><b> meaning:</b></td>
    						<td bgcolor="#FFFFFF">{{ detials.meaning_text }}</td>
    					</tr>
    					<tr>
    						<td width="30%" bgcolor="#81BEF7"><b> sentence:</b></td> 
    						<td bgcolor="#81BEF7"> {{ detials.sentence_text }}</td>
    					</tr>
    				</table>
    				<hr>
				{% endfor %}
			</div>

		</body>
</html>
