<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv=”Content-Type” content=”text/html; charset=utf-8″ />
		<title>Welcome to wordbank</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'wordbank/main.css' %}">
	</head>
		<body>
			<div class="header">
				<h1>Word Bank</h1>
			</div>
			
				
			
			<div>
				<form action="{% url 'wordbank:latest_word'%}" method="post">
						{% csrf_token %}
						<br><br><br><br><br><br>
						<center>Search Word</center><br>
						<center><input type="text" name="term" size="30"> </center>
						<center><input type="submit" value="Search"></center>	
				</form>
			</div>
			<br><br><br>
				<center>
				<a  class="button1" href="{% url 'wordbank:all_word' %}">All Word</a>
				<a  class="button2"href="{% url 'wordbank:add_new_word' %}">Add Word</a>
				<a  class="button2"href="{% url 'wordbank:latest_word' %}">Latest Word</a>
				</center>
		</body>
</body>
<html>


