<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv=”Content-Type” content=”text/html; charset=utf-8″ />
		<title>Welcome to wordbank</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'wordbank/main.css' %}">
	</head>
		<body>
			<div class="header">
				<h1>wordbank</h1>
			</div>
			<div class="nav">
				<h2><a href="/"  class="button" >back</a></h2>
			</div>
			<div class="section">
				{% if latest_word_list %}
    				{% for word in latest_word_list %}
       					<li><h2><a href="{% url 'wordbank:details' word.id %}">{{ word.word_text }}</a><h2></li> 
       				{% endfor %}
				{% else %}
    			<p>No word are available.</p>
				{% endif %}
			</div>
		</body>
</html>
