div.header {
    background-color: #086A87;
    color:#AEB404;
    text-align:center;
    padding:5px;

}
div.nav {
    line-height:30px;
    background-color:#eeeeee;
    height:530px;
    width:100px;
    float:left;
    padding:5px; 
}
div.section {
    width:1000px;
    float:left;
    padding:10px;
}


}
div.footer {
    background-color:#cccccc;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
body {
    background-image: url("images/bg_blue.jpg");
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.button {
    background-color: #819FF7;
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 5px;


}
.button:hover {
  background-color: #81BEF7;
  color: #555;
}
.button:active {
  background: #e9e9e9;
  position: relative;
  top: 1px;
  text-shadow: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
}

.right {
    position: absolute;
    right: 0px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
}

input[type=text]:focus {
    background-color: lightblue;

}

input:hover {
  background-color: #81BEF7;
  color: #555;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: #086A87;
    border: none;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    margin: 2px 1px;
    cursor: pointer;
}

span.tab{
    padding: 0 48px; /* Or desired space*/
}
span.tab1{
    padding: 0 52px; /* Or desired space*/
}
span.tab2{
    padding: 0 22px; /* Or desired space*/
}
span.tab3{
    padding: 0 18px; /* Or desired space*/
}
span.tab4{
    padding: 0 97px; /* Or desired space*/
}
span.tab5{
    padding: 0 400px; /* Or desired space*/
}
span.tab6{
    padding: 0 480px; /* Or desired space*/
}

