div.ex1 {

    background-color: lightgrey;
    width: 100%px;
    padding: 25px;
    /*border: 25px solid navy;*/
    /*margin: 25px;*/
}

a.linkhover:hover { 
text-decoration: none; 
background-color:yellow; 
}


body {
    background-image: url("images/bg-wood.jpg");
}

p {
    color: red;
    text-align: center;
} 
